<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" 
        href="{% static 'css/style.css' %}">
    
        <title>ELGHARBI SALAH EDDINE</title>
        <meta charset="UTF-8">
       
    </head>
    <body>
        <main>
            <header>
                <h1>
                    <img src="{% static "css/bb.jpg" %}" alt="Photo" />
                    Elgharbi Salah eddine
                </h1>
            </header>





            <div class="paper-stack">
                <h2><a href="">elgharbi-salah-eddine@Contact</a></h2>
                <p class="subtitle">
                    
				Student computer scinece software -ESI-
                <br>
                <br>
				using Python, Full stack using Django.
				</p>

                <div class="links">
                    <ul>              
                     
						
						   <li>
                            <a class="email" href="https://mail.google.com/mail/u/3/">
                                <svg viewBox="0 0 512 512"><path d="M101.3 141.6v228.9h0.3 308.4 0.8V141.6H101.3zM375.7 167.8l-119.7 91.5 -119.6-91.5H375.7zM127.6 194.1l64.1 49.1 -64.1 64.1V194.1zM127.8 344.2l84.9-84.9 43.2 33.1 43-32.9 84.7 84.7L127.8 344.2 127.8 344.2zM384.4 307.8l-64.4-64.4 64.4-49.3V307.8z"/></svg>
                                <span id="email-displayed">dinnsalah0@gmail.com</span>
                            </a>
                        </li>
						
						
                        <li>
                            <a class="twitter" href="https://twitter.com/ElgharbiSalah">
                                <svg viewBox="0 0 512 512"><path d="M419.6 168.6c-11.7 5.2-24.2 8.7-37.4 10.2 13.4-8.1 23.8-20.8 28.6-36 -12.6 7.5-26.5 12.9-41.3 15.8 -11.9-12.6-28.8-20.6-47.5-20.6 -42 0-72.9 39.2-63.4 79.9 -54.1-2.7-102.1-28.6-134.2-68 -17 29.2-8.8 67.5 20.1 86.9 -10.7-0.3-20.7-3.3-29.5-8.1 -0.7 30.2 20.9 58.4 52.2 64.6 -9.2 2.5-19.2 3.1-29.4 1.1 8.3 25.9 32.3 44.7 60.8 45.2 -27.4 21.4-61.8 31-96.4 27 28.8 18.5 63 29.2 99.8 29.2 120.8 0 189.1-102.1 185-193.6C399.9 193.1 410.9 181.7 419.6 168.6z"/></svg>
                                @ElgharbiSalah
                            </a>
                        </li>
                        <li>
                            <a class="linkedin" href="https://www.linkedin.com/in/elgharbi-salah-eddine-7b7378177/">
                                <svg viewBox="0 0 512 512"><path d="M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z"/></svg>
                                LinkedIn
                            </a>
                        </li>

                        <li>
                            <a class="stackoverflow" href="https://stackoverflow.com/users/12397581/salah-eddine-elgharbi">
                                <svg viewBox="0 0 512 512"><path d="M294.8 361.2l-122 0.1 0-26 122-0.1L294.8 361.2zM377.2 213.7L356.4 93.5l-25.7 4.5 20.9 120.2L377.2 213.7zM297.8 301.8l-121.4-11.2 -2.4 25.9 121.4 11.2L297.8 301.8zM305.8 267.8l-117.8-31.7 -6.8 25.2 117.8 31.7L305.8 267.8zM321.2 238l-105-62 -13.2 22.4 105 62L321.2 238zM346.9 219.7l-68.7-100.8 -21.5 14.7 68.7 100.8L346.9 219.7zM315.5 275.5v106.5H155.6V275.5h-20.8v126.9h201.5V275.5H315.5z"/></svg>
                                Stack Overflow
                            </a>
                        </li>
                    </ul>
                    <div style="clear:both"></div>
                </div>
            </div>
        </main>





    </body>
</html>